<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ko'p urunishlar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="Icon" href="{{ url_for('static', filename='img/icon.png') }}">

  <style>
    body {
      color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      text-align: center;
      font-size: 3em;
      background: red;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: glow 3s linear infinite;
      text-shadow:20px;
    }
    p {
      font-size: 1.2em;
      color: #ccc;
      margin-top: 20px;
    }
  </style>
</head>
<body>
    <div class="login">
            <img src="{{ url_for('static', filename='img/login-bg.png') }}" alt="image" class="login__bg">
        <form class="login__form">
            <h1>Juda ko'p urinishlar !</h1>
            <p>Sahifaga xafsizlik maqsadida qoyilgan so'rov cheklovidan oshib ketdi. Iltimos bir necha soniyadan keyin sahifani yangilang.</p>
            <br>
            <button class="Mayank1170-button-1" onclick="location.reload()">Qayta yuklash</button>
        </form>
    </div>
    <footer style="
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 15px 10px;
      background: rgba(0, 0, 0, 0.75);
      color: #ffffff;
      font-size: 14px;
      z-index: 2;
      border-top: 2px solid;
      border-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b) 1;
      box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  ">
      © 2025 Smart Home Project — Barcha huquqlar himoyalangan. <br>
      Yaratuvchi: 
      <a href="https://jahongir.onrender.com" 
         style="color: #1e90ff; text-decoration: none;" 
         onmouseover="this.style.color='#fbb03b'" 
         onmouseout="this.style.color='#1e90ff'">
         Jahongir Muhammadiyev
      </a> 
      | 
      <a href="https://jahongir.onrender.com" 
         style="color: #1e90ff; text-decoration: none;" 
         onmouseover="this.style.color='#fbb03b'" 
         onmouseout="this.style.color='#1e90ff'">
         About Project
      </a>
  </footer>
</body>
</html>
